@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans:
    Roboto, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --animate-slide: slide 3s infinite;
  --animate-spin: slide 6s linear infinite;

  @keyframes spin {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes slide {
    0% {
      transform: translate(-20rem);
    }
    25% {
      transform: translate(-10rem);
    }
    to {
      transform: translate(15rem);
    }
  }
}

@utility contained {
  @apply container mx-auto px-4 sm:px-6 lg:px-8;
}

@utility action {
  @apply relative inline-block bg-gradient-to-r from-purple-600 to-sky-500 before:absolute before:inset-0 before:scale-75 before:bg-gradient-to-r before:from-purple-400 before:to-sky-400 before:opacity-50 before:blur-lg before:transition before:duration-300 hover:before:scale-100 hover:before:opacity-100 focus:before:scale-90 focus:before:opacity-75 active:before:scale-90 dark:from-purple-600 dark:to-blue-400 dark:before:from-purple-600 dark:before:to-sky-500;
}
